:root {
  --bg-clr: #131215;
  --card-clr: #242426;
  --primary-btn: #4b9969;
  --primary-btn-fade: #2d5e40;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  font-family: "Figtree", sans-serif;
}
h2 {
  color: white;
  font-family: "Figtree", sans-serif;
}
h3 {
  color: white;
  font-family: "Figtree", sans-serif;
}

p {
  color: white;
  font-family: "Figtree", sans-serif;
}
a {
  color: white;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--bg-clr);
  margin: 0;
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--card-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0 0 0 30px;
}

.btn {
  background-color: var(--primary-btn);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-family: "Cal Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 24px;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-btn-fade);
  transition: 0.3s;
}

.btn svg {
  height: 16px;
  width: 16px;
  fill: white;
}

#main-container {
  display: grid;
  width: 100%;
  max-width: 2000px;
  justify-content: center;
  justify-self: center;
  height: fit-content;
  grid-template-rows: 30% auto;
  padding: 30px;
  gap: 20px;
}

#main-container-assignment2 {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: fit-content;
  justify-content: center;
  margin-top: 100px;
  gap: 160px;
  flex-wrap: wrap;
}

#main-container div {
  border-radius: 16px;
}

#info-container {
  background-color: var(--card-clr);
  padding: 30px 30px;
  height: fit-content;
  margin-bottom: 120px;
}

#card-grid-container {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
    justify-content: center;

}

nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 0 30px 0 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  background-color: var(--primary-btn);
  padding: 6px;
  border-radius: 3px;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: none;
  background-color: var(--primary-btn-fade);
  transition: 0.3s;
}

.current-tab {
  background-color: rgb(0, 95, 32);
}

.card {
  gap: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-clr);
  height: fit-content;
  width: fit-content;
  padding: 30px 30px;
  border-radius: 16px;
}

.card h2 {
  margin-bottom: 0;
}
.card a {
  margin-top: 10px;
  width: 100%;
}

.card img {
  width: 300px;
  border-radius: 16px;
}

.prodCategory {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 999px;
  background: #374151;
  font-size: 13px;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 12px;
}

.namePriceContainer {
  display: flex;
  flex-flow: row;
  padding: 0;
  align-items: center;
  justify-content: space-between;
}

#shopping-cart {
  gap: 4px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-clr);
  height: fit-content;
  min-width: 500px;
  width: fit-content;
  padding: 30px 30px;
  border-radius: 16px;
}

#shopping-cart h2 {
  margin: 0;
  padding: 0;
}
#shopping-cart div {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
}

.shopping-cart-item {
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
}
