:root {
  --bg-clr: #131215;
  --card-clr: #242426;
  --primary-btn: #4b9969;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  font-family: "Figtree", sans-serif;
}
h2 {
  color: white;
  font-family: "Figtree", sans-serif;
}
h3 {
  color: white;
  font-family: "Figtree", sans-serif;
}

p {
  color: white;
  font-family: "Figtree", sans-serif;
}
a {
  color: white;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--bg-clr);
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: var(--card-clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0 0 0 30px;
}

.btn {
  background-color: var(--primary-btn);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-family: "Cal Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 24px;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  border: 0.8px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  text-decoration: none;
}

.btn svg {
  height: 16px;
  width: 16px;
  fill: white;
}

/*index.html*/
#main-container {
  display: grid;
  width: 100%;
  max-width: 2000px;
  justify-content: center;
  justify-self: center;
  height: fit-content;
  grid-template-rows: 30% auto;
  padding: 30px;
  gap: 30px;
}

#main-container div {
  border-radius: 16px;
}

#info-container {
  background-color: var(--card-clr);
    padding: 30px 30px;
}

#card-grid-container {
  display: flex;
  gap: 26px;
}

#card-grid-container div {
  background-color: var(--card-clr);
  height: 300px;
  width: 300px;
  padding: 30px 30px;
}
